@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

body {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #081731;
  color: #f3f3f3;
}

ul {
  padding: 0;
  list-style: none;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  margin-bottom: 25px;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
  margin-top: 40px;
}

.resume {
  padding: 30px;
  max-width: 950px;
}
.resume .buttons a {
  padding: 5px;
  color: #EEA9A9;
}
.resume .decoration {
  margin-right: 20px;
  margin-top: 10px;
  float: right;
  width: 114px;
  height: 114px;
  border-radius: 100%;
  box-shadow: 0 0 0 3px;
  background-image: url(https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/10441003_929139190490052_4442256361444094961_n.jpg?oh=6f5a8f13067328d573f345107e3ee974&oe=5A0BAE2B);
  background-size: cover;
  color: white;
}

h1, .decoration {
  display: inline-block;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}
.bottom .left, .bottom .right {
  padding: 10px;
  display: inline-block;
}
.bottom .left {
  width: 40%;
  padding-right: 20px;
}
.bottom .right {
  padding-right: 20px;
}
