@charset "UTF-8";
/* 顏色變數 */
* {
  font-family: "Noto Sans";
}

body {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #081731;
  color: #f3f3f3;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 1px;
}

/*複寫區 */
ul {
  padding: 0;
  list-style: none;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  margin-bottom: 25px;
}
h2:after {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 8px;
  background-color: #CB1B45;
  margin-left: 10px;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
  margin-top: 40px;
  opacity: 0.8;
  font-weight: 400;
}

.resume {
  padding: 30px;
  max-width: 950px;
  border: solid 8px white;
  /*圖片設定 */
  /*按鈕設定 */
}
.resume .pic {
  margin-right: 20px;
  float: right;
  width: 114px;
  height: 114px;
  border-radius: 100%;
  box-shadow: 0 0 0 3px;
  background-image: url(http://res.cloudinary.com/dpdxi9nqy/image/upload/v1505887053/15578494_1274966805907287_6836099784845354542_n_yzu8sv.jpg);
  background-size: cover;
  color: white;
}
.resume .buttons a {
  padding: 5px;
  color: #CB1B45;
  text-decoration: none;
}

h1, .pic {
  display: inline-block;
}

/*下半部 */
.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bottom .left, .bottom .right {
  margin-right: 10px;
  display: inline-block;
}
.bottom .left {
  width: 40%;
  padding-right: 20px;
}
.bottom .left ul.listSkill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.bottom .left ul.listSkill li {
  width: 33%;
  padding: 5px;
  box-sizing: border-box;
}
.bottom .left ul.listSkill .circle {
  width: 50px;
  height: 50px;
  background-color: rgba(203, 27, 69, 0.3);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.bottom .left ul.listSkill .circle::after {
  content: "";
  display: block;
  background-color: #081731;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.bottom .left ul.listSkill .p90, .bottom .left ul.listSkill .p180, .bottom .left ul.listSkill .p270, .bottom .left ul.listSkill .p360 {
  width: 50%;
  height: 50%;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 0;
  background-color: #CB1B45;
}
.bottom .left ul.listSkill .p180 {
  top: 50%;
}
.bottom .left ul.listSkill .p270 {
  left: 0%;
  top: 50%;
}
.bottom .left ul.listSkill .p360 {
  left: 0%;
}
.bottom .right {
  padding-right: 20px;
  /*清單排列 */
}
.bottom .right ul.listexperience > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.bottom .right ul.listexperience > li ul {
  padding-left: 10px;
  margin-left: 10px;
  border-left: solid 4px white;
}
.bottom .right ul.listexperience > li ul span {
  font-weight: normal;
  opacity: 0.9;
}
