.resume
  .top
    h1 陳慧樺
    h4 ＃科技 #藥學 #性別議題
    p Ｉtry to live everyday as if it was the full final day of my extraordinary ordinary life.
    .buttons
      a(href="https://codepen.io/AmelieChen/" target="_blank").btn1 作品集
      a(href="https://github.com/amelie314" target="_blank").btn2 Github
      a(href="" target="_blank").btn3 Facebook  
  .bottom
    .left
      .block
        h2 教育程度
        h4 臺北醫學大學藥學系-2012年秋季
        p 同時擔任北友會美宣部部長，藥學系學生會美宣部部長 & 臉書社群經營
      .block
        h2 專攻領域
        ul
          li 用藥衛教
          li 簡報設計
          li 社群經營
      .block
        h2 實務技能
        ul
          li
            .circle HTML
          li
            .circle CSS
          li
            .circle Javascript
          li
            .circle Python   
    .right
      .block
        h2 實習/工作經歷
        ul
          li
            .year 2013
              ul
                li 城市浪人第一屆實習生，擔任文案撰寫、組織理念推廣，因與設計師合作而開始對「設計」啟蒙。
                li 網拍品牌代理版主，負責出貨、銷售、行銷、品牌社群經營等業務。
          li
            .year 2014
              ul
                li Dr.Ice咖啡廳副店長，協助店長一同控管成本、安排人力、討論銷售策略。
          li  
            .year 2015
              ul
                li 創立小淘花粉絲專頁，反思生活並將以圖文方式呈現。入選北醫藝術季市集攤主。
          li  
            .year 2016
              ul
                li 全國藥學系大藥盃外包設計師，負責Logo、T-shirt等設計。
      .block
        h2 參展/參賽經歷
        ul
          li 入選北醫第一屆簡報大賽決賽
          li 北醫「愛之傳」明信片創作比賽優選
          li 北醫第二屆藝術季「理想與現實」參展作品
          li 校外參展「自學者的成績單」
